@font-face {
	font-family: IbmPlexSans;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../../static/fonts/IbmPlexSans.woff2") format("woff2"),
		url("../../static/fonts/IbmPlexSans.woff") format("woff");
}

@font-face {
	font-family: IbmPlexSansCons;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../../static/fonts/IbmPlexSans-Condensed.woff2")
			format("woff2"),
		url("../../static/fonts/IbmPlexSans-Condensed.woff") format("woff");
}
